html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}
/*social Links*/

.social{
    height:50px;
    width:100%;
    display:inline-block;
    background-color:lightgray;
}
.icon{
    height:50px;
    width:50px;
    margin-right:1%;
    float:right;

}
.icon  img{
    width:100%;
}
/*header started*/
#head{
    margin-top:4px;
    height:80px;
    width:100%;
    display:inline-block;    
}
.logo{
    float:left;
    height:80px;
    width:10%;
    margin-left:15%;
    transition: transform .2s;
}
.logo:hover {
    -ms-transform: scale(1.05); 
    -webkit-transform: scale(1.05); 
    transform: scale(1.05);
} 
.logo > img{
    height:80px;
    width:100%;

}
.search{
    float:left;
    height:40px;
    width:40%;
    margin-left:9%;
    margin-top:1%;
    border-radius:15PX;
}
#searchbar{
    float:left;
    width:92%;
    height:40PX; 
}

#searchbar > input{
    float: right;
    height:40px;
    width:100%;
    border: 1px solid lightgray;
    font-size: 17px;
  }
.searchicon{
    float:left;
    height:40px;
    width:8%;
    transition: transform .2s;
}
.searchicon:hover {
    -ms-transform: scale(1.05); 
    -webkit-transform: scale(1.05); 
    transform: scale(1.05);
} 
.searchicon > button{
    width:100%;
    height:100%;
    border:none;

}
.login{
    float:left;
    width:fit-content;
    margin-left:8%;
    margin-top:1%;
    transition: transform .2s;
}
.login:hover {
    -ms-transform: scale(1.05); 
    -webkit-transform: scale(1.05); 
    transform: scale(1.05);
} 

/*Munu bar started*/

.menubar{
    width:100%;
    display:inline-block;
    color:white;
}

.navbar-nav {
    
    font-size:19px;
    
  }
.navbar-nav li {
    color:white;
    
  }

/* login form */

.loginform{
    margin-left:25%;
    margin-right:25%;
    width:50%;
    margin-top:6%;
    margin-bottom:5%;
    

}

/* media Queries */

   
@media only screen 
   and (max-width : 1253px) {
    .search {
        width: 48%;
        margin-left: 7%;
        
   }
}


   @media only screen 
   and (max-width : 930px) {
       .search{
        width: 52%;
        margin-left: 5%;
       }
       .logo {
        height: 78px;
        width: 15%;
        margin-left: 8%;
    }
}

    @media only screen 
    and (max-width : 842px) {
        .search{
            width: 60%;
            margin-left: 0%;
        }
        .logo {
         width: 15%;
         margin-left: 8%;
     }
     .login{
         margin-left: 2%;
     }
     }
   

@media only screen 
   and (max-width : 693px) {
   
    #searchbar {
   
    width: 80%;
    
    }
}
@media only screen 
and (max-width : 671px) {
 #searchbar {
     float: left;
     width: 90%;

 }

 .search{
     width: 60%;
     margin-left: 0%;
    }
    
 .logo {
 width: 15%;
 margin-left: 3%;
 }
}

@media only screen 
   and (max-width : 514px) {
   
    #searchbar input[placeholder]{
        font-size:12px;
    }
   
}

/* media quries for mobiles */
@media only screen 
   and (max-width : 414px) {
    .search {
        margin-top: 4%;
        
    }
    .logo {
        margin-top: -1%;
    }
    .login {
        margin-top: 4%;
    }
   
       #searchbar input[placeholder]{
        font-size:12px;
    }
      
    
   }
   @media only screen 
   and (max-width : 390px) {
      
       #searchbar input[placeholder]{
        font-size:12px;
    }
     
    
   }
@media only screen 
   and (max-width : 375px) {
    .search {
        margin-top: 4%;
        
    }
    .logo {
        margin-top: -1%;
    }
    .login {
        margin-top: 4%;
    }
      
      
       #searchbar input[placeholder]{
        font-size:12px;
    }
   
   }

   @media only screen 
   and (max-width : 280px) {
      
    #searchbar {
        float: left;
        width: 76%;
        
    }
    #searchbar input[placeholder]{
        font-size:12px;
    }

    .logo > img {
        height: 40px;
        width: 92%;
    }
    .login {
        margin-left: -5%;
    }
    .search {
        width: 60%;
        margin-left: -2%;
    }
    .logo {
        width: 15%;
        margin-left: 5%;
    }
    .social {
        height: 36px; 
   }
   .icon {
    height: 36px;
    width:36px; 
}
.icon img {
    height: 36px;
    width:36px;
    margin-right: -1%; 
}
.mebubar{
    margin-top: -5%;
}
.search {
    margin-top: 4%;
    
}
.logo {
    margin-top: 4%;
}
.login {
    margin-top: 4%;
}
   }
















