
    
.main{
    margin-left:20%;
    width:60%;
    height:300px;
    box-shadow: 1px 1px 1px 2px #888888;
}
.row{
    
    margin-top:2%;
}

.imgdiv{
    width: 200px;
    height: 200px;
    float: left;
    
}
.imgdiv img{
    height:299px
}



.content{
    width: 40%;
    margin-left: 10%;
    float: left;
    height: 250px;
    
}
.name{
    font-weight: 600;
    font-size:30px;
    text-decoration: underline rgb(255, 68, 0);
    text-align:left}
.remove{
    margin-top:8%;
}
