html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}
/*social Links*/

.social{
    height:50px;
    width:100%;
    display:inline-block;
    background-color:lightgray;
}
.icon{
    height:50px;
    width:50px;
    margin-right:1%;
    float:right;

}
.icon  img{
    width:100%;
}
/*header started*/
#head{
    margin-top:4px;
    height:80px;
    width:100%;
    display:inline-block;    
}
.logo{
    float:left;
    height:80px;
    width:10%;
    margin-left:15%;
    transition: transform .2s;
}
.logo:hover {
    -ms-transform: scale(1.05); 
    -webkit-transform: scale(1.05); 
    transform: scale(1.05);
} 
.logo > img{
    height:80px;
    width:100%;

}
.search{
    float:left;
    height:40px;
    width:40%;
    margin-left:9%;
    margin-top:1%;
    border-radius:15PX;
}
#sorting label{
    float:right;
    font-size: x-large;
    font-weight: 100;
     line-height: 2;

}
#searchbar{
    float:left;
    width:92%;
    height:40PX; 
}

#searchbar > input{
    float: right;
    height:40px;
    width:100%;
    border: 1px solid lightgray;
    font-size: 17px;
  }
.searchicon{
    float:left;
    height:40px;
    width:8%;
    transition: transform .2s;
}
.searchicon:hover {
    -ms-transform: scale(1.05); 
    -webkit-transform: scale(1.05); 
    transform: scale(1.05);
} 
.searchicon > button{
    width:100%;
    height:100%;
    border:none;

}
.login{
    float:left;
    width:fit-content;
    margin-left:8%;
    margin-top:1%;
    transition: transform .2s;
}
.login:hover {
    -ms-transform: scale(1.05); 
    -webkit-transform: scale(1.05); 
    transform: scale(1.05);
} 

/*Munu bar started*/

.menubar{
    width:100%;
    display:inline-block;
    color:white;
}

.navbar-nav {
    
    font-size:19px;
    
  }
.navbar-nav li {
    color:white;
    
  }

/* sorting */

#sorting{
    height:40px;
}
select{
    height:45px;
    width:30%;
    border-radius: 10px;
    float:right;
    font-size:20px;
}
/*booklist*/

.header{
    margin-top:1%;
    height:60PX;
    text-align:center;
    position:relative;


}
.header > h1{
      font-family: 'Times New Roman', Times, serif;
      font-weight: bolder;
      font-size:60px;
      
}
u{
    text-decoration-color: red;
    text-decoration-line: underline;
    
    
}
.row{
    margin-left:6%;
    margin-right:6%;
}
.bookwindow{
    width:100%;
    margin-top:4%;
    position:relative; 
    

}
/* containers for books */
#first{
    height:440px;
    /* background-color:skyblue; */
}
#second{
    height:440px;
    /* background-color:rgb(217, 240, 136); */
    
}
#third{
    height:440px;
    /* background-color:rgb(238, 179, 155); */
}
#fourth{
    height:440px;
    /* background-color:rgb(240, 159, 236); */
}
#fifth{
    height:440px;
    /* background-color:rgb(94, 134, 221); */
}
#sixth{
    height:440px;
    /* background-color:rgb(209, 198, 102); */
}
.card{
    display:inline-flexbox;
    width:100%;
    text-align:center;
    border-radius: 15px;
    box-shadow: 5px 5px 10px lightgray;
    transition: transform .2s;
    border:ipx groove lightgray;
    }
.card:hover {
    -ms-transform: scale(1.05); 
     -webkit-transform: scale(1.05); 
     transform: scale(1.05);
     
    }
.productimage{
    height:300px;
}
.productimage  img{
    height:300px;
    width:100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.details{
    height:120px;
    font-size:18px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color:gray;

}
.detailheading{
    color:black;

}



.footer{
    margin-top:4%;
    height:auto;
    width:100%;
    display:inline-block;
    background-color: lightgray;
}
.footer > h2{
    text-align:center;
}

/* media Queries */
@media only screen 
   and (max-width : 1464px) {
   
    .row {
        margin-left: 0%;
        margin-right: 0%;
    }
    .productimage {
        height: 266px;
    }
    .productimage img {
        height: 266px;
    }
    .details {
        
        font-size:18px;
    }

   }

   @media only screen 
   and (max-width : 1371px) {
       .viewmore{
           width:15%;
       }
   }

   @media only screen 
   and (max-width : 1371px) {
       .viewmore{
           width:20%;
           margin-left:39%;
       }
    
    .header > h1 {
        font-size: 53px;
   }
   .bookwindow {
    margin-top: 7%;
}
}
@media only screen 
   and (max-width : 1253px) {
    .search {
        width: 48%;
        margin-left: 7%;
        
   }
}


   @media only screen 
   and (max-width : 930px) {
       .search{
        width: 52%;
        margin-left: 5%;
       }
       .logo {
        height: 78px;
        width: 15%;
        margin-left: 8%;
    }
}

    @media only screen 
    and (max-width : 842px) {
        .search{
            width: 60%;
            margin-left: 0%;
        }
        .logo {
         width: 15%;
         margin-left: 8%;
     }
     .login{
         margin-left: 2%;
     }
     }
   @media only screen 
   and (max-width : 765px) {
    select{
        height:35px;
    }
    #sorting label{
        font-size:20px;
        line-height:2;
    }
    .bookwindow {

        margin-top: 12%;
    }
    .row {
        width: 86%;
    margin-left: 6%;
    margin-right: 7%;
    }

   }
   

@media only screen 
   and (max-width : 693px) {
      
    
    .header > h1 {
        font-size: 43px;
         }
   .bookwindow {
    margin-top: 12%;
    }
    .row {
    margin-left: 4%;
    margin-right: 4%;
    }
    #searchbar {
   
    width: 80%;
    
    }
}
@media only screen 
and (max-width : 671px) {
 #searchbar {
     float: left;
     width: 90%;

 }

 .search{
     width: 60%;
     margin-left: 0%;
    }
    
 .logo {
 width: 15%;
 margin-left: 3%;
 }
}

@media only screen 
   and (max-width : 514px) {
    select{
        height:30px;
    }
    #sorting label{
        line-height:1.5;
    }
    .social {
        height: 30px;
    }
    .icon {
        height: 30px;
        width: 30px;
    }
    .bookwindow {
        margin-top: 15%;
    }
    #searchbar input[placeholder]{
        font-size:12px;
    }
    .row {
        width:auto;
        margin-left: -12px;
        margin-right: -9px;
}
   
}

/* media quries for mobiles */
@media only screen 
   and (max-width : 414px) {
    .social {
        height: 30px;
    }
    .icon {
        height: 30px;
        width: 30px;
    }
    .header > h1 {
        font-size: 20px;
       }
    .search {
        margin-top: 4%;
        
    }
    .logo {
        margin-top: -1%;
    }
    .login {
        margin-top: 4%;
    }
    .header > h1 {
        font-size: 30px;
       }
      
       #searchbar input[placeholder]{
        font-size:12px;
    }
      
    .footer > h2 {
        text-align: center;
        font-size: 17px;
    }
   }
   @media only screen 
   and (max-width : 390px) {
    .social {
        height: 30px;
    }
    .icon {
        height: 30px;
        width: 30px;
    }
    .header > h1 {
        font-size: 20px;
       }
      
       #searchbar input[placeholder]{
        font-size:12px;
    }
     
    .footer > h2 {
        text-align: center;
        font-size: 16px;
    }
   }
@media only screen 
   and (max-width : 375px) {
    .social {
        height: 30px;
    }
    .icon {
        height: 30px;
        width: 30px;
    }
    .header > h1 {
        font-size: 20px;
       }
    .search {
        margin-top: 4%;
        
    }
    .logo {
        margin-top: -1%;
    }
    .login {
        margin-top: 4%;
    }
     
    .row {
        width: auto;
        margin-left: -24px;
        margin-right: -15px;
       }
       .header > h1 {
        font-size: 24px;
       }
       #searchbar input[placeholder]{
        font-size:12px;
    }
    .details{
        font-size:15px;
    }
       
       
     
    .footer > h2 {
        text-align: center;
        font-size: 16px;
    }
   }

   @media only screen 
   and (max-width : 280px) {
          .social {
        height: 30px;
    }
    .icon {
        height: 30px;
        width: 30px;
    }
      
       .header > h1 {
        font-size: 20px;
       }

       /* .row {
        width: auto;
        margin-left: -27px;
        margin-right: -17px;
       } */
       .card{
        width:110%;

    }
       .productimage {
        height: 193px;
    }
    .productimage img {
        height: 193px;
    }
    .details{
        height: 115 px;
        font-size:13px;
    }
   
    .footer > h2 {
        text-align: center;
        font-size: 15px;
    }
    #searchbar {
        float: left;
        width: 76%;
        
    }
    #searchbar input[placeholder]{
        font-size:12px;
    }

    .logo > img {
        height: 40px;
        width: 92%;
    }
    .login {
        margin-left: -5%;
    }
    .search {
        width: 60%;
        margin-left: -2%;
    }
    .logo {
        width: 15%;
        margin-left: 5%;
    }
    .social {
        height: 36px; 
   }
   .icon {
    height: 36px;
    width:36px; 
}
.icon img {
    height: 36px;
    width:36px;
    margin-right: -1%; 
}
.mebubar{
    margin-top: -5%;
}
.search {
    margin-top: 4%;
    
}
.logo {
    margin-top: 4%;
}
.login {
    margin-top: 4%;
}
   }
















