.maindiv1{
    margin-top: 2%;
    width: 70%;
    margin-left: 7%;
    height:  fit-content;
    box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.388);
    border-radius:5px;
    
}
.imgdiv1{
    width: 250px;
    height: 250px;
    float: left;
    border-radius:5px;
}
.imgdiv1 img{
    border-radius:5px;
}


.content{
    width: 40%;
    margin-left: 1%;
    float: left;
    height: 250px;
    
}
.name{
    font-weight: 600;
    text-decoration: underline rgb(255, 68, 0);
}