.orderItems{
    float:left;
    height:300px;
    width:250px;
    margin:2%;
    box-shadow:10px 10px 20px gray
}

.orderItems>img{
   height:200px;
   width:100%
}
.tc1{
   margin-top: 2%;
    font-weight: 600;
    font-size: 30px;
    box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.388);

}
.alpha {
    margin-left:7%;
    height:40px;
    width:100px
}